/******** General **********/

@font-face {
    font-family: 'FiraSansEight'; /*a name to be used later*/
    src: url(fonts/FiraSans-Eight.otf); /*URL to font*/
}
@font-face {
    font-family: 'FiraSansThin'; /*a name to be used later*/
    src: url(fonts/FiraSans-Thin.otf); /*URL to font*/
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 13px;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: white;
}

.p {
    color: #6E6E6E;
}

button {
    background-color: rgba(0,0,0,0);
    outline: none;
    border: none;
}

 /* made an empty div with this class above content */
.square { 
    padding-bottom: 100%; 
}
.content {
    position: absolute;
    background-color: blue;
    top: 0;  bottom: 0;  left: 0;  right: 0;
}


/******** Splash *********/

.splash-container {
    background-image: url("../img/gold-waves.jpg");
    -webkit-filter: blur(2px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    /*border-top: #F2C784 solid 3px; */
    /*z-index: 4;*/
    overflow: hidden;
    width: 101%;
    height: 101%;
    margin: auto;
    top: 0;
    right: -1%;
    position: fixed !important;
}

.splash-container .overlay {
    background: rgba(255, 255, 255, 0.9);   
    width: 100%;
    height: 100%;
}

.splash {
    /* absolute center .splash within .splash-container */
    position: absolute;
    width: 100%;
    height: auto;
    margin: auto;
    /*padding-left: 20px;*/
    top: 10%; left: 0; bottom: 0; right: 0;
    text-align: center;
    text-transform: uppercase;
}

.splash-item {
    position: relative;
    opacity: 0;
    height: 60px;
    width: 60px;
    margin-top: 30px; 
    margin-bottom: 30px; 
    top: -30px; /*gets set to 0 in intro animation */
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: #DBB984 solid 2px;
    /*background-color: black;*/
}

.splash-item a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.splash-item i {
    color: #DBB984;
    font-size: 28px;
    transform: translateY(50%);

    -ms-transition: all 0.15s linear;
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

ul.splash-item-list {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    top: 70px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.splash-item-label {
    position: absolute;
    display: block;
    opacity: 0;
    height: 50px;
    width: auto;
    left: 70px;
    top: 25%;
    color: white;
    vertical-align: middle;
    text-align: center;

    -ms-transition: all 0.15s linear;
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

.splash-item:hover .splash-item-label {
    opacity: 1;
    left: 90px;
}

.footer {
    position: absolute;
    width: 100%;
    background-color: rgb(0,0,0,0);
    bottom: 0;
    height: auto;
    z-index: 4;
    font-family: 'FiraSansThin';
    text-align: center;             
    color: #363636;
    font-size: 77%;
    margin: 0;
}

.social-item-list button {
    width: 30px;
    height: 30px;
}


ul.social-item-list {
    position: relative;
    width: 100%;
    height: 30px;
    top: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.social-item-list li { 
    display: inline; 
    height: 30px;
    width: 30px;
    margin: 0px;
    /*border-radius: 50%;*/
    /*border: #f0c480 solid 2px;*/
}

.social-item-list i {
    /*color: #f0c480;*/
    color: #DBB984;
    font-size: 22px;
    transform: translateY(15%);
}

.social-item-list i:hover {
    color: white;
}

/********* Menu ********/

.menu {
    position: absolute;
    display: block;
    z-index: 4;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 70px;
    top: 10%;
    text-align: center;
}

.menu-strip {
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    top: 0;
    z-index: 4;
    background-color: #F2C784;
    box-shadow: 0 -1px 8px black;
}
.menu-tab {
    position: relative;
    display: block;
    width: 70px;
    height: 70px;
    background-color: #F2C784;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    z-index: 4; 
}

.splash-logo {
	position: absolute;
	margin-left: auto;
    margin-right: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    opacity: 1;
    background-image: url("../img/logo-white.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #EABF7C;
    /*background-color: black;*/
    border-radius: 50%;
    /*border: #F2C784 solid 2px;*/
    width: 70px;
    height: 70px;
    overflow: hidden;
}

.splash-item-container {
	position: absolute;
	margin-left: auto;
    margin-right: auto;
    top: 40px; 
    left: -15px;
    width: 50px;
	height: 50px;
}

.menu .splash-item {
	position: absolute;
	background-color: rgba(0,0,0,0);
	/*opacity: 1;*/
	width: 50px;
	height: 50px;
	/*top: 10px;*/
	/*left: 10px;*/
	margin: 0;
	transform: none;

	-ms-transition: all 0.15s linear;
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

.menu .splash-item i{
	font-size: 22px;
}

.slideout {
	opacity: 1;

	-ms-transition: all 0.15s linear;
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

.slideout:nth-child(1) {
  	-webkit-transform: translateX(100px);
  	transform: translateX(100px)
}

.slideout:nth-child(2) {

  	-webkit-transform: translateY(75px) translateX(75px);
  	transform: translateY(75px) translateX(75px)
}

.slideout:nth-child(3) {
  	-webkit-transform: translateY(100px);
  	transform: translateY(100px)
}

/*.menu .splash-item i {
    transform: translateY(8%);
}*/

/*.menu .splash-item:hover i {
    transform: scale(1.2);

    -ms-transition: all 0.15s linear;
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
}*/

/*.menu ul.splash-item-list {
    display: block;
    top: 0px;
    height: 374px;
    padding-top: 80px;
}*/

/******** About *********/

.l-box.about-box {
	opacity: 1;
	top: 0;
}

.about-item {
    position: relative;
    width: 100%;
    height: 100%;
}

.about-item .content-subhead {
	padding: 20px;
}

.about-item#primary {
	background-color: #262626;
}
.about-item#primary .title {
	color: white
}
.about-item#secondary {
	background-color: white;
}
.about-item#secondary .title {
	color: #262626
}

.section {
	border-bottom: #F2C784 solid 2px;
}

/******* Portfolio ***********/

.title {
    /*color: #6E6E6E; */
    color: white;
    font-family: 'Lato', sans-serif;
    margin-bottom: -20px;
}

.inner {
    color: #6E6E6E;
    font-family: 'Lato', sans-serif;
    font-style: italic;
}

.dash {
    color: #F2C784;
    margin-top: 10px;
    margin-bottom: -15px;
    font-family: sans-serif;
    font-weight: 700;
}

.pure-g.fullscreen-g {
    height: 100%;
    width: 100%;
}

.l-box {
    position: relative;
    /*opacity: 0;*/
    margin-top: auto;
    margin-bottom: 0;
    top: 0px;
    height: 100%;
}

.fp-controlArrow.fp-prev {
    border-right-color: rgba(242, 199, 132, 0.3);
}
.fp-controlArrow.fp-next {
    border-left-color: rgba(242, 199, 132, 0.3);
}
.fp-controlArrow.fp-prev:hover {
    border-right-color: rgba(242, 199, 132, 1);
}
.fp-controlArrow.fp-next:hover {
    border-left-color: rgba(242, 199, 132, 1);
}
.fp-slidesNav ul li a span {
    background-color: #F2C784;
}

.item {
    position: relative;
    width: 100%;
    height: 100%;
}

.item:hover .curtain {
    /*height: 20%;*/
    /*opacity: 0;*/

    -ms-transition: all 0.15s linear;
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

.item:hover .face {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    /*height: 90%;*/

    -ms-transition: all 0.15s linear;
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

.item:hover .content-subhead-wrapper {
    opacity: 0;
    /*background-color: black;*/

    -ms-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.item:hover .content-subhead .title {
    color: white;

    -ms-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;   
}

.item:hover .expand-button {
    opacity: 1;
    
    -ms-transition: all 0.2s linear 0.15s;
    -webkit-transition: all 0.2s linear 0.15s;
    transition: all 0.2s linear 0.15s;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-filter: sepia(1);
    filter: grayscale(1);
    
    -ms-transition: all 0.15s linear;
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

.curtain {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    bottom: 0;
    
    -ms-transition: all 0.2s linear 0.02s;
    -webkit-transition: all 0.2s linear 0.02s;
    transition: all 0.2s linear 0.02s;
}

.content-subhead-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);

    -ms-transition: opacity 0.1s linear;
    -webkit-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;    
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    position: absolute;
    text-align: center;
    color: white;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.expand-button {
    position: absolute;
    opacity: 0;
    width: 80px;
    height: 80px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    border-radius: 50%;
}

.expand-button:hover {
    background-color: black;
}

.expand-button i {
    font-size: 50px;
    color: white;
    transform: translateY(30%);
}
/******* Contact *********/



/******* Shimmer Effect *********/

.icon .icon-effect {
  position: absolute;
  top: -100%;
  left: -100%;
  width: 150%;
  height: 150%;

  opacity: 0;
  
  background: rgba(255, 255, 255, 0.2);
  background: -moz-linear-gradient(
    left,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.1) 75%,
    rgba(255, 255, 255, 0.5) 90%,
    rgba(255, 255, 255, 0.0) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.1) 75%,
    rgba(255, 255, 255, 0.5) 90%,
    rgba(255, 255, 255, 0.0) 100%
  );
  background: -webkit-gradient(
    linear, left top, right top,
    color-stop(0%  ,rgba(255, 255, 255, 0.2)),
    color-stop(75% ,rgba(255, 255, 255, 0.2)),
    color-stop(90% ,rgba(255, 255, 255, 0.8)),
    color-stop(100%,rgba(255, 255, 255, 0.0))
  );
  background: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.1) 75%,
    rgba(255, 255, 255, 0.5) 90%,
    rgba(255, 255, 255, 0.0) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.1) 75%,
    rgba(255, 255, 255, 0.5) 90%,6
    rgba(255, 255, 255, 0.0) 100%
  );
  background: linear-gradient(
    top,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.1) 75%,
    rgba(255, 255, 255, 0.5) 90%,
    rgba(255, 255, 255, 0.0) 100%
  );

  -webkit-transform: rotate(30deg);
     -moz-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
       -o-transform: rotate(30deg);
          transform: rotate(30deg);
    
  -webkit-transition-property: left, top, opacity;
     -moz-transition-property: left, top, opacity;
      -ms-transition-property: left, top, opacity;
       -o-transition-property: left, top, opacity;
          transition-property: left, top, opacity;
  -webkit-transition-duration: 0.5s, 0.5s, 0.1s;
     -moz-transition-duration: 0.5s, 0.5s, 0.1s;
      -ms-transition-duration: 0.5s, 0.5s, 0.1s;
       -o-transition-duration: 0.5s, 0.5s, 0.1s;
          transition-duration: 0.5s, 0.5s, 0.1s;
  -webkit-transition-timing-function: ease;
     -moz-transition-timing-function: ease;
      -ms-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
}

/* Hover state - trigger effect */

/*.icon:hover .icon-effect {
  opacity: 1;
  top: -30%;
  left: -15%;
}*/

/* Active state */

.icon:active .icon-effect {
  opacity: 0;
}



/****** Tablets + *********/

@media (min-width: 48em) {

    /* We increase the body font size */
    body {
        font-size: 16px;
    }
}


/******* Desktops + *******/

@media (min-width: 78em) {

}