/******** Fonts **********/

@font-face {
    font-family: 'FiraSansEight'; 
    src: url(fonts/FiraSans/FiraSans-Eight.otf); 
}

@font-face {
    font-family: 'FiraSansExtraLight'; 
    src: url(fonts/FiraSans/FiraSans-ExtraLight.otf); 
}

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://fonts.gstatic.com/s/lato/v11/22JRxvfANxSmnAhzbFH8PgLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
    background-color: white;
    font-size: 22px;
    overflow: hidden;
}

.center {
    position: absolute;
    margin: auto;
    top: 0; bottom: 0;
    left: 0; right: 0;
}

.gooeys {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    -webkit-filter: url('#filter');
    filter: url('#filter');
}


.bg {
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 50%; 
    box-shadow: #222 0 0 30px 0;
}

.logo {
    -webkit-filter: grayscale(1);
    width: 400px;
    height: 400px;
    opacity: 0;
    background-image: url(../../mai-logo-alt.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    -webkit-animation: fade 2s 0.5s forwards;
}


.grid .section:nth-child(1):hover h1 {
    text-shadow: 5px 5px 10px #0A0A0A;
}
.grid .section:nth-child(2):hover h1 {
    text-shadow: -5px 5px 10px #0A0A0A;
}
.grid .section:nth-child(3):hover h1 {
    text-shadow: 5px -5px 10px #0A0A0A;
}
.grid .section:nth-child(4):hover h1 {
    text-shadow: -5px -5px 10px #0A0A0A;
}



@keyframes fade {
  100% {
    opacity: 1;
  }
}
