/******** Fonts **********/

@font-face {
    font-family: 'FiraSansEight'; 
    src: url(fonts/FiraSans/FiraSans-Eight.otf); 
}
@font-face {
    font-family: 'FiraSans-UltraLightItalic'; 
    src: url(fonts/FiraSans/FiraSans-UltraLightItalic.otf); 
}
@font-face {
    font-family: 'Sansation';
    src: url(fonts/sansation/Sansation-Regular.ttf);
}
@font-face {
    font-family: 'WCManoNegra';
    src: url('WCManoNegraBta-webfont.eot');
    src: url('WCManoNegraBta-webfont.eot?#iefix') format('embedded-opentype'),
         url('WCManoNegraBta-webfont.woff') format('woff'),
         url('WCManoNegraBta-webfont.ttf') format('truetype'),
         url('WCManoNegraBta-webfont.svg#WCManoNegra') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/******** General **********/

body {
    line-height: 1.7em;
    background-color: #262626;
    font-size: 13px;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: white;
}

button {
    background-color: rgba(0,0,0,0);
    outline: none;
    border: none;
}

 /* made an empty div with this class above content */
.square { 
    padding-bottom: 100%; 
}
.half { 
    padding-bottom: 50%; 
}
.third { 
    padding-bottom: 33%; 
}
.third-inverse { 
    padding-bottom: 133%; 
}
.content {
    position: absolute;
    top: 0;  bottom: 0;  left: 0;  right: 0;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
}

.black {
    color: #262626;
}
.white {
    color: white;
    font-weight: 100;
}
.gold {
    color: #D3B380;
}
.black-bg {
    background-color: #262626;
}
.white-bg {
    background-color: white;
}
.gold-bg {
    background-color: #D3B380;
}

.banner {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    /*z-index: 4;*/
    border-top: #F2C784 solid 3px;
    box-shadow: 0px -1px 10px -2px black; 
}

.home {
    position: absolute;
    visibility: hidden;
    cursor: pointer;
    bottom: 5%;
    transform: translateY(55%);
    right: 12px;
    background-image: url('../img/logo-gold-small.png');
    background-position: center;
    background-size: cover;
    width: 60px;
    height: 60px;
    border: #D3B380 solid 2px;
    /*border-radius: 50%;*/
}

.section-header {
    position: relative;
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    bottom: 0;
    z-index: 4;
    width: 100%;
    height: 10%;
    padding-top: 12px;
    padding-left: 12px;
    font-family: 'WCManoNegra', sans-serif;
    font-size: 13px;
}
.section-header h1{
    height: 100%;
    margin: 0;
}

.pure-g {
    position: relative;
    width: 100%;
    height: 90%;
    letter-spacing: normal;
    margin: auto;
    top:0; bottom: 0; left: 0; right: 0; 
}

.l-box {
    position: relative;
    margin-top: auto;
    margin-bottom: 0;
    top: 0px;
    height: 100%;
}

.fp-tableCell {
    vertical-align: top;
}
.fp-controlArrow.fp-prev {
    visibility: hidden;
    border-width: 20px 15px 20px 0; 
}
.fp-controlArrow.fp-next {
    visibility: hidden;
    border-width: 20px 0 20px 15px; 
}

.fp-slidesNav ul li a span {
    background-color: #D3B380;
}
.fp-slidesNav {
    left:auto;
    right: 0;
}
.fp-slidesNav.bottom {
  bottom: 1%;
}


/******** Splash *********/

.pure-g.splash {
    position: absolute;
    width: 80%;
}

.splash-item {
	position: relative;
    cursor: pointer;
	width: 100%;
    height: auto;
    border: white solid 5px;
    font-size: 40px;
}

.title {
    font-family: 'WCManoNegra', sans-serif;
    font-size: 25px;
}

/*Logo*/
#logo .content {  
                 background-image: url('../img/splash-logo.png');
                 background-size: contain;
                 background-repeat: no-repeat;
                 background-position: center;
                }

/*About*/
#about .content { border: #262626 solid 3px; padding-bottom: 10px;}
#about .title { padding-top: 13px; margin: 0; }

/*Portfolio*/
.splash-item#portfolio { padding-bottom: 10px; }
#portfolio .content { flex-direction: column; -webkit-flex-direction: column;}
#portfolio .content i {font-size: 65px; }

/*Contact*/
.splash-item#contact { width: 150%; }
#contact .third { padding-bottom: calc(33% - 5px); }
#contact .title { padding-left: 30px; }
#contact .content i {font-size: 28px; }

/*Art*/
.splash-item#art { width: 50%; left: 50%; }
/*#art .content { border-bottom-right-radius: 50%; }*/
#art .content i {font-size: 24px; }

.splash .l-box {
	overflow: visible;
}

/*.splash-item:hover {
    opacity: 1;
    left: 90px;
}*/

.splash-item i{
	font-size: 22px;
}

.footer {
    vertical-align: bottom;
}

.footer i {
    font-size: 20px;
    transform: translateY(15%);
}

.footer i:hover {
    color: white;
}

/******** About *********/

.about p {
    margin: 0;
    text-align: center;
    font-family: 'FiraSansEight', sans-serif;
    font-size: 23px;
    line-height: 1.6
}

.about i.quote {
    font-size: 33px;
}

.about i.logo {
    font-size: 35px;
    border: #D3B380 solid 4px;
    border-radius: 50%;
}

.about .content {
    width: 40%;
}
/******* Portfolio *********/


.pure-g.portfolio {
    /*width: calc(80% + 20px);*/
    /*width: 100%;*/
    /*margin-top: -5%;*/
}

.portfolio .l-box {
    height: 25%;
    border: #262626 solid 1px;
    /*padding: 10px;*/
}

.header {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    line-height: 1.5;
    color: #262626;
    margin: 10px;
}

.sub-header {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 13px;
    color: #6E6E6E;
    margin: 10px;
}

button.sub-header {
    color: white;
    text-decoration: underline;
}

.dash {
    color: #F2C784;
    margin-top: -20px;
    margin-bottom: -10px;
    font-family: sans-serif;
    font-weight: 700;
}

.pointer {
    position: relative;
    display: block;
    width: 0;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    border-style: solid;
    border-width: 20px 0px 20px 20px;
    border-color: transparent;
    border-left-color: white;
}
.pointer#black{
    border-left-color: #262626;
}

.item {
    position: relative;
    width: 100%;
    height: 100%;
}
/*.item:hover .content {
    opacity: 1;
    
    -ms-transition: all 0.2s linear 0.15s;
    -webkit-transition: all 0.2s linear 0.15s;
    transition: all 0.2s linear 0.15s;
}*/

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    -ms-transition: all 0.15s linear;
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
}
.item:hover .face {
    width: 50%;

    -ms-transition: all 0.15s linear;
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

.curtain {
    position: relative;
    background-color: rgba(0,0,0, 0.75);
    width: 100%;
    height: 100%;
    opacity: 0;

    -ms-transition: all 0.15s linear;
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
}
.item:hover .curtain {
    opacity: 1;
    

    -ms-transition: all 0.15s linear;
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

.tab {
    position: absolute;
    display: block;
    width: 0%;
    height: 100%;
    left: 0;
    opacity: 0;
    /*border-left: #262626 solid 4px;*/

    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
    
    -ms-transition: all 0.15s linear;
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
}
.item:hover .tab {
    width: 50%;
    opacity: 1;

    -ms-transition: all 0.15s linear;
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

.content-subhead-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    /*background-color: rgba(0, 0, 0, 0.85);*/

    /*-ms-transition: opacity 0.15s linear;*/
    /*-webkit-transition: opacity 0.15s linear;*/
    /*transition: opacity 0.15s linear;    */
}

.content-subhead {
    position: absolute;
    text-align: center;
    color: white;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

/******* Portfolio Expanded ********/

.pure-g.portfolio-expanded {
    width: 100%;
    height: 100%;
}

.l-box-1 {
    background-size: cover;
    background-position: center;
    -webkit-filter: saturate(2.2);
    filter: saturate(2.2);
}

.l-box-2 {
    /*width: auto;*/
    padding: 5%;
}

.expanded {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
}

.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    color: #D3B380;
    /*background-color: rgba(0,0,0,0.5);*/
    border-radius: 50%; 
    z-index: 4;
}

.expanded p {
    font-family: 'FiraSansEight', sans-serif;
    font-size: 16px;
    color: white;
}

.expanded .header {
    display: inline;
    font-size: 17px;
    color: #D3B380; 
    margin-right: 0;
}

.expanded .sub-header {
    display: inline;
    font-size: 18px;
    color: white;
}

.icon-container {
    display: flex;
    display: -webkit-flex;
}

.tag {
    position: relative;
    display: inline;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 45px;
    margin: 5px; 
    -webkit-filter: sepia(0);
    filter: sepia(0);
}
.tag#xcode { background-image: url('../img/tags/xcode.png'); }
.tag#eclipse { background-image: url('../img/tags/eclipse.png'); }
.tag#win8 { background-image: url('../img/tags/win8.png'); }
.tag#unity { background-image: url('../img/tags/unity.png'); }
.tag#vuforia { background-image: url('../img/tags/vuforia.png'); }
.tag#ar { background-image: url('../img/tags/ar.png'); }
.tag#kinect { background-image: url('../img/tags/kinect.png'); }
.tag#sdp { background-image: url('../img/tags/sdp.png'); }

.tag span {
    opacity: 0;
    position: absolute;
    width: 40px;
    bottom: 40px;
    left: 50%;
    margin-left: -20px;
    color: #D3B380;
    text-align: center;
    border-bottom: 1px solid #D3B380;
    height: 25px;
    line-height: 29px;
    text-align: center;

    -ms-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.tag:hover span {
    opacity: 1;
    bottom: 50px;
    left: 50%;
    margin-left: -20px;
    z-index: 999;

    -ms-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.tag span:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -12px;
    width: 0; height: 0;
    border-top: 1px solid #D3B380;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
}
.tag span:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -6px;
    width: 0; height: 0;
    border-top: 6px solid #D3B380;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}


.store-link {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 65px;
    margin: 5px; 
    border: white solid 1px;

    -ms-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.store-link#apple { background-image: url('../img/tags/apple-store.png'); }
.store-link#apple-comingsoon { background-image: url('../img/tags/apple-comingsoon.png'); }
.store-link#android { background-image: url('../img/tags/android-store.png'); }

.store-link:hover {
    background-color: rgba(255,255,255,0.1);

    -ms-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.line {
    width: 100%;
    height: 0;
    border-bottom: #D3B380 solid 1px;
}

/******* Contact *********/





/*****************************************
/////////// Tablets (Portrait) + /////////
*****************************************/

@media screen and (min-width: 48em) {

/******* General *********/

    .section-header {
        font-size: 25px;
        padding-top: 26px;
    }

    .fp-slidesNav.bottom {
        bottom: 17px;
    }

/******* Splash *********/

    .pure-g.splash {
        width: 50%;
    }

/******* Portfolio *********/

    .title {
        font-size: 50px;
    }

    .portfolio .l-box {
        height: 50%;
        padding: 10px;
        border: none;
    }

    .expanded .l-box-1 {
        height: 25%;
    }

    #portfolio .content i {font-size: 90px; }
    #contact .content i {font-size: 40px; }
    #art .content i {font-size: 40px; }

    /*.fp-controlArrow.fp-prev {
        display: block;
        border-width: 38.5px 34px 38.5px 0; 
    }
    .fp-controlArrow.fp-next {
        display: block;
        border-width: 38.5px 0 38.5px 34px; 
    }*/

    .header {
        font-size: 20px;
    }

    .sub-header {
        font-size: 15px;
    }

    .pointer {
        top: -8px;
        left: 0; right: 0;
        border-width: 0px 20px 20px 20px;
        border-color: transparent;
        border-bottom-color: white;
    }
    .pointer#black {
        border-color: transparent;
        border-bottom-color: #262626;
    }

    .tab {
        position: absolute;
        display: block;
        width: 100%;
        height: 0%;
        bottom: 0;
        border-bottom: #262626 solid 4px;
        border-left: none;
    }

    .item:hover .face {
        width: 100%;
        height: 70%;
    }

    .item:hover .tab {
        width: 100%;
        height: 30%;
    }

/******* Portfolio Expanded *********/

    .expanded p {
        font-size: 20px;
        line-height: 1.4;
    }

}

/*****************************************
/////////// Tablets (Landscape) + ////////
*****************************************/

@media screen and (min-width: 64em) {

/******* Portfolio *********/
    
    .portfolio .l-box {
        height: 100%;
    }

    .expanded .l-box-1 {
        height: 100%;
    }

    .item:hover .face {
        height: 80%;
    }

    .item:hover .tab {
        height: 20%;
    }

/******* Portfolio Expanded *********/

    .expanded p {
        padding-right: 25%;
    }
}

/*****************************************
/////////////// Desktops + ///////////////
*****************************************/

@media screen and (min-width: 78em) {

/******* Splash *********/

    .pure-g.splash {
        width: 30%;
    }

    .home {
        display: none;
        visibility: visible;
    }

/******* Portfolio *********/

    .pure-g.portfolio {
        width: 85%;
    }

    .fp-controlArrow.fp-prev {
        visibility: visible;
        left: 3%;
        border-width: 35px 25px 35px 0; 
    }
    .fp-controlArrow.fp-next {
        visibility: visible;
        right: 3%;
        border-width: 35px 0 35px 25px; 
    }
    .fp-slidesNav {
        left: 65%;
    }
}