/******** General **********/

@font-face {
    font-family: 'FiraSansEight'; /*a name to be used later*/
    src: url(fonts/FiraSans-Eight.otf); /*URL to font*/
}
@font-face {
    font-family: 'FiraSans-UltraLightItalic'; /*a name to be used later*/
    src: url(fonts/FiraSans-UltraLightItalic.otf); /*URL to font*/
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 13px;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: white;
}

.p {
    color: #6E6E6E;
}

button {
    background-color: rgba(0,0,0,0);
    outline: none;
    border: none;
}

 /* made an empty div with this class above content */
.square { 
    padding-bottom: 100%; 
}
.half { 
    padding-bottom: 50%; 
}
.third { 
    padding-bottom: 33%; 
}
.third-inverse { 
    padding-bottom: 133%; 
}
.content {
    position: absolute;
    top: 0;  bottom: 0;  left: 0;  right: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black {
    color: #262626;
}
.white {
    color: white;
    font-weight: 100;
}
.gold {
    color: #D3B380;
}
.black-bg {
    background-color: #262626;
}
.white-bg {
    background-color: white;
}
.gold-bg {
    background-color: #D3B380;
}

.banner {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    border-top: #F2C784 solid 4px;
}

.pure-g {
    width: 80%;
    height: 80%;
    margin: auto;
    top:0; bottom: 0; left: 0; right: 0; 
}

.l-box {
    position: relative;
    margin-top: auto;
    margin-bottom: 0;
    top: 0px;
    height: 100%;
}

/******** Splash *********/


.splash-item {
	position: relative;
    cursor: pointer;
	width: 100%;
    height: auto;
    border: white solid 5px;
    font-size: 40px;
}

.title {
    font-family: 'FiraSans-UltraLightItalic', sans-serif;
    font-size: 21px;
}

/*Logo*/
#logo .content {  
                 background-image: url('../img/splash-logo.png');
                 background-size: contain;
                 background-repeat: no-repeat;
                 background-position: center;
                }

/*About*/
#about .content { border: #262626 solid 3px; padding-bottom: 10px;}
#about .title { padding-top: 10px; margin: 0; }

/*Portfolio*/
.splash-item#portfolio { padding-bottom: 10px; }
#portfolio .content { flex-direction: column; }
#portfolio .content i {font-size: 65px; }

/*Contact*/
.splash-item#contact { width: 150%; }
#contact .third { padding-bottom: calc(33% - 5px); }
#contact .title { padding-left: 30px; }
#contact .content i {font-size: 28px; }

/*Art*/
.splash-item#art { width: 50%; left: 50%; }
#art .content { border-bottom-right-radius: 50%; }
#art .content i {font-size: 24px; }

.splash .l-box {
	overflow: visible;
}

/*.splash-item:hover {
    opacity: 1;
    left: 90px;
}*/

.splash-item i{
	font-size: 22px;
}


/******** About *********/

.pure-g.about {
    position: relative;
    width: 100%;
}

.pure-g.about .content {
    flex-direction: column;
    align-items: flex-start;
}

.about-item {
    position: relative;
    width: 100%;
    height: 20%;
    margin-top: 20px;

}
.about-item:nth-child(2) { width: 90%; }
.about-item:nth-child(3) { width: 80%; }


/******* Portfolio ***********/


.pure-g.portfolio {
    width: 80%;
    height: 70%;
}

.portfolio .l-box {
    height: 25%;
    padding: 10px;
}

.header {
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    line-height: 1.5;
    color: #262626;
    margin: 10px;
}

.sub-header {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 10px;
    color: #6E6E6E;
    margin: 10px;
}

a.sub-header {
    color: white;
    text-decoration: white solid 1px;
}

.dash {
    color: #F2C784;
    margin-top: -20px;
    margin-bottom: -10px;
    font-family: sans-serif;
    font-weight: 700;
}

.pointer {
    position: relative;
    display: block;
    width: 0;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    border-style: solid;
    border-width: 20px 0px 20px 20px;
    border-color: transparent;
    border-left-color: white;
}

.fp-controlArrow.fp-prev {
    border-width: 20px 15px 20px 0; 
}
.fp-controlArrow.fp-next {
    border-width: 20px 0 20px 15px; 
}

.fp-slidesNav ul li a span {
    background-color: #F2C784;
}

.item {
    position: relative;
    width: 100%;
    height: 100%;
}

.item:hover .tab {
    width: 50%;
    opacity: 1;

    -ms-transition: all 0.15s linear;
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

.item:hover .face {
    width: 50%;

    -ms-transition: all 0.15s linear;
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

.item:hover .curtain {
    opacity: 1;
    background-color: rgba(0,0,0, 0.85);

    -ms-transition: all 0.15s linear;
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

.item:hover .content-subhead-wrapper {
    /*opacity: 0;*/
    /*background-color: black;*/

    -ms-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.item:hover .content {
    opacity: 1;
    
    -ms-transition: all 0.2s linear 0.15s;
    -webkit-transition: all 0.2s linear 0.15s;
    transition: all 0.2s linear 0.15s;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    -ms-transition: all 0.15s linear;
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

.curtain {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0;

    -ms-transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

.tab {
    position: absolute;
    display: block;
    width: 0%;
    height: 100%;
    left: 0;
    opacity: 0;
    border-left: #262626 solid 4px;

    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
    
    -ms-transition: all 0.15s linear;
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

.content-subhead-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    /*background-color: rgba(0, 0, 0, 0.85);*/

    -ms-transition: opacity 0.1s linear;
    -webkit-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;    
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    position: absolute;
    text-align: center;
    color: white;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.expand-button {
    position: absolute;
    width: 40px;
    height: 45px;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.expand-button i {
    font-size: 30px;
    color: white;
    transform: translateY(30%);
}
/******* Contact *********/





/****** Tablets (Portrait) + *********/

@media screen and (min-width: 48em) {

    .pure-g.splash {
        width: 50%;
    }

    .title {
        font-size: 40px;
    }

    .portfolio .l-box {
        height: 50%;
    }

    #portfolio .content i {font-size: 90px; }
    #contact .content i {font-size: 40px; }
    #art .content i {font-size: 40px; }

    .fp-controlArrow.fp-prev {
        border-width: 38.5px 34px 38.5px 0; 
    }
    .fp-controlArrow.fp-next {
        border-width: 38.5px 0 38.5px 34px; 
    }

    .header {
        font-size: 20px;
    }

    .sub-header {
        font-size: 15px;
    }

    .pointer {
        top: -8px;
        left: 0; right: 0;
        border-width: 0px 20px 20px 20px;
        border-color: transparent;
        border-bottom-color: white;
    }

    .tab {
        position: absolute;
        display: block;
        width: 100%;
        height: 0%;
        bottom: 0;
        border-bottom: #262626 solid 4px;
        border-left: none;
    }

    .item:hover .face {
        width: 100%;
        height: 70%;
    }

    .item:hover .tab {
        width: 100%;
        height: 30%;
    }
}

/****** Tablets (Landscape) + *********/

@media screen and (min-width: 64em) {

    .portfolio .l-box {
        height: 100%;
    }

    .item:hover .face {
        height: 80%;
    }

    .item:hover .tab {
        height: 20%;
    }
}


/******* Desktops + *******/

@media screen and (min-width: 78em) {

    .pure-g.splash {
        width: 30%;
    }

}